body {
  background: rgb(204, 212, 228);
}
form {
  margin: 10px auto;
}

h1,
h5,
h6 {
  text-align: center;
}
h1 {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 40px;
}
h5 {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
}
h6 {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

.card {
  margin: 20px auto;
  background: linear-gradient(
    to top,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}
.container {
  max-width: 650px;
}
#input-bar,
#search-button,
#location-button {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 5px 10px;
  margin-top: 4px;
}
#search-button,
#location-button {
  background: rgba(0, 0, 0, 1);
  color: rgb(225, 225, 225);
  transition: all 200ms ease-in-out;
}

#search-button:hover,
#location-button:hover {
  color: rgba(0, 0, 0, 1);
  background: transparent;
}

.left-col {
  text-align: center;
  font-size: 160px;
  line-height: 160px;
}
.middle-col {
  text-align: center;
}
.right-col {
  margin-top: 5px;
  padding-left: 25px;
  font-size: 18px;
}
.separator {
  margin: 10px auto 0;
  background: rgba(0, 0, 0, 1);
  height: 4px;
  width: 90%;
}
.temp {
  font-size: 75px;
  font-weight: 600;
  line-height: 75px;
}
.temp-c {
  color: rgb(136, 141, 153);
  font-size: 30px;
  margin: -4px;
  text-decoration: none;
}
.temp-c:hover {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
}
.temp-f {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin: 0;
  text-decoration: none;
}
.temp-f:hover {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
}
.units {
  position: relative;
  bottom: 30px;
  font-size: 30px;
  margin-bottom: 20px;
}
.weather-conditions {
  font-size: 35px;
  font-weight: 500;
  line-height: 60px;
  text-transform: capitalize;
}
.weather-square {
  color: rgb(0, 0, 0);
}
.weather-week {
  margin: 20px 10px;
}
.p-square {
  text-align: center;
  font-size: 40px;
  margin: 0;
}
